html,
body {
    height: 100%;
    font-family: 'Didact Gothic', sans-serif;
}

/* styling for the containers overall */


/*Navbar */
/* The popup form - hidden by default */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

.navbar img {
    height: 40px;
    position: absolute;
    top: 8px;
}

.navbar-nav>li {
    float: right;
}

.form-popup {
    display: none;
    position: fixed;
    top: 56px;
    right: 0px;
    /* the sign up and log in buttons and the popup for responsive css */
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 350px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container a {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

#userOpen {
    display: none;
}

input+p {
    color: rgb(218, 42, 42);
}

#loginForm .form-container p {
    margin-top: 10px;
}


/* @media only screen and (max-width: 575px) {
    #game-container {
        background-position: 50% 0%;
    }
}
@media only screen and (max-width: 767px) {
    #game-container {
        background-position: 90% 0%;
    }
}
@media only screen and (max-width: 991px) {
    #game-container {
        background-position: 100% 0%;
    }
}
@media only screen and (max-width: 1199px) {
    #game-container {
        background-position: 100% 0%;
    }
} */

/* Game content section */
#game-container {
    height: 100%;
    width: 100%;
    padding: 66px 10px 10px 10px;
    background-image: url("images/background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;

}

#game-container #score {
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 10px 5px;
    position: absolute;
    top: 66px;
    left: 0px;
}

#game-container #score .col-12 {
    /**z-index: 4;**/
    height: 100%;
}

#game-container #score .col-12 h1 {
    font-size: 60px;
}

#game-container #game .col-12 h5 {
    position: absolute;
    top: 35%;
    left: 43%;
    font-size: 175px;
    opacity: 0.5;
}

/* animate using animations*/
@keyframes shrink-text {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.3);
    }
}

.animated-shrink-text {
    animation: shrink-text 1s;
    animation-iteration-count: infinite;
}

/** animate using transitions - working but laggy **/
/* .animated-shrink-text {
    transform: scale(0.3);
    transition: all 990ms ease-in-out;
}
.animated-shrink-text-2 {
    transform: scale(0.3);
    transition: all 990ms ease-in-out;
}
.animated-expand-text {
    transform: scale(1);
    
    transition: all 10ms ease-in-out;
    
} */



#game-container #game {
    width: 100%;
    height: 100%;
    margin: 0;
}

#game-container #game .col-12 {
    padding: 0;
}

#game-container #game #ghost {
    height: 75px;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 5;
}

#game-container #game .wisp {
    height: 60px;
    position: absolute;
    top: 50%;
    left: 10%;
}

/*start button */
#game-container #game #start-div {
    display: flex;
    justify-content: center;
    height: 90%;
    flex-wrap: wrap;
    align-content: flex-end;
}

#game-container #game #start {
    height: 100px;
    width: 300px;
    font-size: 35px;
    z-index: 4;
    opacity: 1;
    visibility: visible;
    transition: opacity 500ms, visibility 500ms;
    transition-timing-function: ease-in;
}

/* gameover slide*/
#game-container #gameover-div {
    position: absolute;
    height: calc(100% - 76px);
    width: calc(100% - 20px);
    margin: 0;
    padding: 0;
    justify-content: center;
    /**align-content: center;**/
    background-color: black;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms, visibility 500ms;
    transition-timing-function: ease-in;
    border: 8px solid rgb(220, 205, 205);
    border-style: double;
}

#game-container #gameover-div h1 {
    font-size: 90px;
    color: white;
    margin-bottom: 10%;
    margin-top: 10%;

}

#game-container #gameover-div #highscore,
#game-container #gameover-div #currentScore {
    width: 60%;
    margin: auto;
    font-size: 30px;
}

#game-container #gameover-div #currentScore {
    margin-bottom: 0.3%;
}

/*animation for the highscore */
@keyframes new-highscore {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.5);

    }
}

.animated-new-highscore {
    animation: new-highscore 0.5s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    color: rgb(255, 225, 0);
}


@media only screen and (max-width: 575px) {

    #game-container #gameover-div #highscore,
    #game-container #gameover-div #currentScore {
        font-size: 16px;
    }

    #game-container #gameover-div h1 {
        font-size: 50px;
    }
}

@media only screen and (min-width: 576px) {

    #game-container #gameover-div #highscore,
    #game-container #gameover-div #currentScore {
        font-size: 18px;
    }

    #game-container #gameover-div h1 {
        font-size: 55px;
    }
}

@media only screen and (min-width: 768px) {

    #game-container #gameover-div #highscore,
    #game-container #gameover-div #currentScore {
        font-size: 20px;
    }

    #game-container #gameover-div h1 {
        font-size: 70px;
    }
}

@media only screen and (min-width: 992px) {

    #game-container #gameover-div #highscore,
    #game-container #gameover-div #currentScore {
        font-size: 25px;
    }

    #game-container #gameover-div h1 {
        font-size: 80px;
    }
}

@media only screen and (min-width: 1200px) {

    #game-container #gameover-div #highscore,
    #game-container #gameover-div #currentScore {
        font-size: 30px;
    }

    #game-container #gameover-div h1 {
        font-size: 90px; /** 5.5vw and 2vw **/
    }
}